name: measure_size
description: A widget that provides a callback that is triggered when its size changes
homepage: https://github.com/mhrst/measure_size
repository: https://github.com/mhrst/measure_size
issue_tracker: https://github.com/mhrst/measure_size/issues
version: 5.0.1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0
  flutter_test:
    sdk: flutter
